[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
"django-bootstrap3" = "*"
django-qrcode = "*"
whitenoise = "*"
django-excel = "*"


[dev-packages]

