{% extends '_layouts/base.html' %}

{% block headline %}<h1>{{club.club_name}}</h1>{% endblock headline %}

{% block content %}
    <p>{{club.description}}</p>
    <button class="btn btn-primary club-join">Join now</button>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    // joining a club button
    $('.club-join').click(function() {
        $.post("./join/", function(data) {
            // load the data
            console.log(data);
        });
    });
});
</script>
{% endblock %}