{% extends '_layout/base.html' %}

{% block content %}
  <h2>Join a club, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
  <p>Clubs you're in:
    <ul>
        {% for club in user.club_set.all %} {{club}} {% endfor %}
    </ul></p>
  <p>Your suggestions:
    <ul>
    {% for club in clubs %}
        <li>{{club.id}}: {{club}}
            {% if club in user.club_set.all %}
            <a href="{{club.id}}/leave">Leave Now!</a>
            {% else %}
            <a href="{{club.id}}/join">Join Now!</a>
            {% endif %}
        </li>
    {% endfor %}
    </p>
{% endblock %}