{% extends '_layout/base.html' %}

{% block header %}{% include '_layout/header.html' %}{% endblock %}

{% block content %}
  {% if user.is_authenticated  %}
    <h2>Join a club, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
    <p>Clubs you're in:
      <ul>
        {% for club in user.club_set.all %}
          <li>{{club}}</li>
        {% endfor %}
      </ul>
    </p>
  {% else %}
    <h2>Join a club!</h2>
  {% endif %}
  <h3><a href="create">Create a club!</a></h3>
  <p>Popular Clubs:
    <ul>
    {% for club in clubs %}
        <li>{{club.id}}: {{club}}
            {% if club in user.club_set.all %}
            <a href="{{club.id}}/leave">Leave Now!</a>
            {% else %}
            <a href="{{club.id}}/join">Join Now!</a>
            {% endif %}
        </li>
    {% endfor %}
    </p>
{% endblock %}