{% extends '_layouts/base.html' %}
{% load club_extras %}
{% block headline %}<h1>{{club.club_name}}</h1>{% endblock headline %}

{% block content %}
    <p>{{club.description}}</p>
    {% if club.get_members %}
        <p>This club's members are {{member}}
        {% for member in club.get_members %} {{member}}{% endfor %}</p>
    {% endif %}

    {% if not request.user|has_club:club.slug %}
        <a href="{% url 'clubs:join' slug=club.slug%}" class="btn btn-default navbar-btn">Join Now</a>
    {% endif %}
    {% if club.get_events %}
        <p>Events: </p>
        {% for event in club.get_events %}

            <ul>
                {{event}}
                {% if not request.user|has_event:event.slug %}
                <a href="{% url 'events:join' slug=event.slug%}" class="btn btn-default navbar-btn">Join Now</a>
                {% endif %}
            </ul>
        {% endfor %}
    {% else %}
        <p>No events.</p>
    {% endif %}
{% endblock %}
