{% extends '_layouts/base.html' %}

{% block headline %}<h1>Welcome {{ user.first_name }}</h1>{% endblock headline %}

{% block content %}
<form action="update" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="primary_language">Enter Primary Language: </label>
        <input class="form-control" id="primary_language" type="text" name="primary_language">
        <label for="secondary_language">Enter Secondary Language: </label>
        <input class="form-control" id="secondary_language" type="text" name="secondary_language">
    </div>

    <input class="form-control" type="submit" value="OK">
</form>
{% endblock %}